.navigation {
    flex:1;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0px 0px 10px grey;
}
.navigationLeft, .navigationRight, .navigationToggle, .navigationLogo, .navigationLiveButton, .contributeButton{
    display: inline-block;
}
.navigationRight{
    float: right;
}
.navigationLiveButton{
    background-color: #f34626;
    color: white;
    padding: 0.1rem 1rem;
    box-shadow: 0px 0px 10px grey;
    border-radius: 3px;
    font-weight: bold;
    margin-right: 1rem;
}
.navigationLogo{
   font-weight: bold;
    font-size: 1.2rem;
}
.contributeButton a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}